header.container3 {
  width: 100%;
  height: 520px;
  display: flex;
  padding-top: 120px;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  background-color: aquamarine;
}

.container3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
