form {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
}

textarea {
  border: none;
  border-bottom: black 3px solid;
  margin-bottom: 10px;
  background-color: #f4f1ec;
  padding-top: 10px;
}

textarea:focus {
  outline: none;
}

form div button {
  background-color: #4056A1;
  color: white;
  padding: 7px;
}

.new-tweet {
  padding: 30px 5px;
}

.new-tweet form div {
  display: flex;
  justify-content: space-between;
  font-family: bungee, sans-serif;
  align-items: center;
  font-size: 16px;

}

.hide {
  display: none;
}

.tag {
  font-size: 1em;
}

.error {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

.minus,
.error {
  color: red;
}