p i:hover {
  color: rgb(209, 181, 20);
}

.tweets {
  border: rgb(91, 85, 85) 5px solid;
  padding: 30px 30px 0px 30px;
  margin-bottom: 20px;
  transition: box-shadow .3s;
}

.tweets:hover {
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}

.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  border-top: 2px black solid;
}

.user {
  display: flex;
}

.user img {
  padding-right: 15px;
}