p i:hover {
  color: rgb(209, 181, 20);
}

.tweet {
  border: rgb(91, 85, 85) 5px solid;
  padding: 10px;
  margin-bottom: 20px;
  transition: box-shadow .3s;
}

.tweet:hover {
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}

.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  border-top: 2px black solid;  
  font-size: 14px;
  margin-bottom: -10px;
}

.user {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.user img {
  padding-right: 5px;
  width: auto; 
  max-height: 40px;
}

#user-tweet {
  margin: 8px 0;
  font-size: 18px;
}